* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Regal";
    src: url(./Fuentes/PFRegalDisplayPro-Regular.ttf);
}

@font-face {
    font-family: "Louis";
    src: url(./Fuentes/Louis-George-Cafe-Light.ttf);
}

@font-face {
    font-family: "Louisbold";
    src: url(./Fuentes/Louis-GeorgeCafe-Bold.ttf);
}

@font-face {
    font-family: "Voltaire";
    src: url(./Fuentes/Voltaire-Frangela.ttf);
}

@font-face {
    font-family: "Apple";
    src: url(./Fuentes/AppleGaramond-Light.ttf);
}

.banner {

    #imagenbanner {
        width: 100%;
        height: 900px;
        object-fit: cover;
        object-position: center;
    }
}

.contenedor-titulo-principal {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    position: absolute;
    top: 24px;


    .buscador {
        display: grid;
        grid-template-columns: 1fr 50px;
        justify-self: right;
        margin-top: 167px;
        margin-right: 6vw;
        border: 1px solid white;
        align-items: center;
        border-radius: 50px;



        input {
            text-decoration: none;
            color: #FFFFFF;
            background-color: transparent;
            padding: 20px 40px;
            width: fit-content;
            border: none;
            font-family: "Louis";
            font-size: 20px;
            font-weight: 300;

            &::placeholder {
                color: #FFFFFF;
            }
        }

    }

    .titulo-principal {

        align-self: end;
        margin-left: 6vw;
        margin-top: 50px;
        display: grid;
        gap: 10px;

        h2 {
            color: #B4B7B7;
            font-family: "Regal";
            font-size: 40px;
            font-weight: 100;


        }

        h1 {
            color: #FFFFFF;
            font-family: "Regal";
            font-size: 80px;
            font-weight: 500;
            padding-bottom: 60px;
        }

        a {
            text-decoration: none;
            color: #FFFFFF;
            border: solid 1px;
            border-radius: 100px;
            padding: 20px 40px;
            width: fit-content;
            font-family: "Louis";
            font-size: 30px;

            img {
                margin-right: 20px;
                width: 30x 13px;
            }

        }

    }
}

nav {
    width: 100%;
    height: 123px;
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.247);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    font-family: "Louis"

}

#logo {
    margin-left: 50px;
}

#logo-mobile {
    display: none;

}

.links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 50px;

    a {
        text-decoration: none;
        color: #FFFFFF;
    }

    .grey {
        color: #7E7E7E;
    }

    .registros {
        display: grid;
        grid-template-columns: 1fr 1px 1fr;

        a {
            justify-self: center;
        }

        #bar {
            height: 100%;
            width: 1px;
            background-color: rgba(255, 255, 255, 0.5);
        }

    }

    .idi {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        margin-right: 50px
    }
}

.redessociales {

    display: grid;
    width: 25px;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 90px 30px 30px 30px 30px 30px;
    justify-items: center;
    position: absolute;
    top: 250px;
    position: fixed;

    p {

        transform: rotate(90deg);
        display: inline-block;
        font-family: "Louisbold";
        font-size: 20px;
        font-weight: 900;
        color: rgba(126, 126, 126, 1);
        margin: auto
    }

    #rayafollow {
        height: 75px;
        width: 2px;
        background-color: #7E7E7E;
    }

    img {
        display: block;
        margin-top: 10px;

    }

}

.rayitasbanner {
    display: grid;
    grid-template-columns: 8fr 1fr 1fr 1fr 8fr;
    position: relative;
    top: -18vh;
    width: 100%;

    .cuadrito {
        width: 32px;
        height: 5px;
        background-color: rgba(180, 183, 183, 1);
    }


}

.section-Worldwide-gallery {

    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 100px;

    .subtitle-properties-mobile {
        display: none;
    }

    #galeria {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 16px;
        overflow: hidden;
        overflow-x: scroll;
        width: 100%;
        padding-right: 10px;
    }



    .titulopais {
        position: relative;
        top: -72px;
        margin-left: 19px;

        h3 {
            font-family: "Regal";
            font-weight: 400;
            font-size: 20px;
            color: rgba(255, 255, 255, 1);
        }

        h4 {
            font-family: "Regal";
            font-weight: 400;
            font-size: 30px;
            color: rgba(255, 255, 255, 1);
        }


    }

    .titulopais:hover {
        background-color: #FFFFFF;
        margin-left: auto;
        margin-bottom: auto;
        padding: 10px;

        h3 {
            color: rgba(70, 69, 71, 1);
        }

        h4 {
            color: rgba(0, 0, 0, 1);
        }
    }

    .propiedades {
        width: 20vw;
    }

    #titulos {
        display: grid;

        .subtitle-properties {
            text-align: right;
            margin-right: 5vw;

            h3 {
                font-family: "Regal";
                font-weight: 400;
                font-size: 30px;
                color: rgba(223, 153, 27, 1);
            }

            h4 {
                font-family: "Regal";
                font-weight: 500;
                font-size: 50px;
                color: rgba(0, 0, 0, 1);
            }

        }

        .boton-properties {
            display: grid;
            grid-template-columns: 1fr 3fr 1fr;
            row-gap: 10px;
            align-items: center;
            padding-right: 4vw;


            .direcciones {

                background-color: transparent;
                border: none;
            }

            .prev {
                color: rgba(180, 183, 183, 1);
            }

            .next {
                color: rgba(223, 153, 27, 1);
            }

            .botoncentro {
                background-color: transparent;
                border-radius: 50px;
                height: fit-content;
                padding: 24px;
                font-family: "Louis";
                font-size: 18px;
                font-weight: 600;

            }
        }

    }
}

.Titulos-sec-luxury {
    justify-items: center;
    padding-top: 20px;

    h3 {
        font-family: "Regal";
        font-weight: 400;
        font-size: 40px;
        color: rgba(223, 153, 27, 1);
    }

    h4 {
        font-family: "Regal";
        font-weight: 500;
        font-size: 80px;
        color: rgba(0, 0, 0, 1);
    }
}

.Titulos-luxury-mobile {
    display: none;
}

.section-luxury-properties {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    padding: 49px;
    row-gap: 10px;


    img {
        max-width: 100%
    }

    .propertiesname {
        position: relative;
        top: -80px;
        background-color: #FFFFFF;
        padding-left: 30px;
        padding-bottom: 30px;
        padding-top: 30px;

        h3 {
            font-family: "Regal";
            font-weight: 400;
            font-size: 18px;
            color: rgba(70, 69, 71, 1);
        }

        h4 {
            font-family: "Regal";
            font-weight: 500;
            font-size: 27px;
            color: rgba(0, 0, 0, 1);
        }

    }



}

.luxurymobile {
    display: none;
}

footer {
    height: 560px;
    width: 100%;
    margin-top: 150px;
    background-color: rgb(0, 0, 0, 1);

    .CTA {
        height: 300px;
        width: 80%;
        background-color: rgba(38, 40, 43, 1);
        position: relative;
        top: -150px;
        right: -10%;
        display: grid;
        grid-template-columns: 1fr 1fr;

        #Join {

            padding-left: 120px;
            padding-top: 69px;
            padding-bottom: 55px;

            h3 {
                font-family: "Regal";
                font-weight: 400;
                font-size: 25px;
                color: rgba(223, 153, 27, 1);
            }

            h4 {
                font-family: "Regal";
                font-weight: 500;
                font-size: 40px;
                color: rgba(255, 255, 255, 1);
            }
        }

        #correo {

            padding-top: 53px;
            padding-right: 100px;


            p {
                font-family: "Louis";
                font-size: 20px;
                color: rgba(255, 255, 255, 1);
                margin-left: 53px;
            }

            input {
                background-color: transparent;
                border: solid 1px rgba(126, 126, 126, 1);
                border-radius: 100px;
                padding-left: 53px;
                padding-top: 20px;
                padding-bottom: 20px;
                margin-top: 10px;
                margin-bottom: 10px;
                width: 100%;
                font-family: "Louis";
                font-size: 20px;
                font-weight: 300;
            }

            button {
                background-color: transparent;
                border: solid 1px rgba(223, 153, 27, 1);
                font-family: "Louisbold";
                font-size: 20px;
                color: rgba(223, 153, 27, 1);
                padding: 20px 100px;
                border-radius: 100px;
                display: block;
                justify-self: end;

            }

        }
    }

    .enlaces {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        color: #B4B7B7;
        padding-left: 90px;
        padding-right: 90px;
        padding-bottom: 50px;
        line-height: 30px;

        #colum1 {
            font-family: "Louis";
            font-size: 20px;
            color: rgba(255, 255, 255, 1);
            align-self: self-end;

        }

        #colum2 {
            font-family: "Louis";
            font-size: 20px;
            color: rgba(180, 183, 183, 1);
            align-self: center;
        }

        #colum3 {
            font-family: "Louis";
            font-size: 20px;
            color: rgba(180, 183, 183, 1);
            align-self: self-end;

            #houses {
                color: rgba(255, 255, 255, 1);
            }

            #contact {
                margin-top: 30px;
            }

        }

        #colum4 {
            text-align: end;
            align-self: self-end;



            h2 {
                font-family: "Regal";
                font-size: 20px;
                font-weight: 400;
                color: rgba(180, 183, 183, 1);
            }

            h3 {
                font-family: "Regal";
                font-size: 30px;
                font-weight: 300;
                color: rgba(255, 255, 255, 1);
            }

            h4 {
                font-family: "Louis";
                font-size: 20px;
                color: rgba(180, 183, 183, 1);
            }
        }
    }

    .copyr {
        font-family: "Louis";
        font-size: 20px;
        color: rgba(255, 255, 255, 1);
        text-align: center;
        border-top: solid 1.5px rgba(255, 255, 255, 1);
        padding-top: 25px;
        width: 90%;
        justify-self: center;
        align-self: self-end;
    }

}